*.deps
*.dirstamp
.vim_nerdtree_bookmarks
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.h.in~
config.h
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
ylwrap
tags
printdynpmconfig
src/config/bison.c
src/config/bison.h
src/config/flex.c
stamp-h1
libdynpm-*.tar.gz
